@import './normalize.css';
@import './color.css';
@import './fonts.css';
@import './hover-min.css';
@import './froala_blocks.min.css';
@import './froala_style.min.css';
@import './bootstrap.min.css';

html {
	font-size: 11pt;
  font-weight: 300;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
	font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  background-color: white;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
  body {
    font-size: 0.95em;
  }
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
* { outline: 0 !important }
.btn, .pointer {
	cursor: pointer;
}
.primary {
	color: var(--primary);
}
.secondary {
	color: var(--secondary);
}
.btn-primary {
	background-color: var(--primary);
	color: #fff;
}
.btn-secondary {
	background-color: var(--secondary);
	color: #000;
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}
.layout-enter-active, .layout-leave-active {
  transition: opacity 0.2s;
}
.layout-enter, .layout-leave-active {
  opacity: 0;
}

input[type=text] {
  border: 1pt solid #C2C2C2;
  border-radius: 2pt;
  padding: 6pt;
}

input[type=text]::placeholder {
  color: #d2d2d2;
}
.vue-slider-dot-handle {
  border: 1pt solid white !important;
  background-color: #636363 !important;
}
.vue-slider-process {
  background-color: #c4c4c4 !important;
}

.popup-enter-active, .popup-leave-active {
  transition: opacity .5s;
}
.popup-enter, .popup-leave-to {
  opacity: 0;
}
#ssid {
  display: inline-block;
  height: 20pt;
  width: 100pt;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  background-image: url('~assets/img/wifi-ssid.png');
}
